<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <head>
    <title>ModelViewJs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="demo-styles.css">

    <!-- The following libraries and polyfills are recommended to maximize browser support -->
    <!-- NOTE: you must adjust the paths as appropriate for your project -->

    <!-- 游뚿 REQUIRED: Web Components polyfill to support Edge and Firefox < 63 -->
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/webcomponents-loader.js"></script>

    <!-- 游누 OPTIONAL: Intersection Observer polyfill for better performance in Safari and IE11 -->
    <script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>

    <!-- 游누 OPTIONAL: Resize Observer polyfill improves resize behavior in non-Chrome browsers -->
    <script src="https://unpkg.com/resize-observer-polyfill@1.5.0/dist/ResizeObserver.js"></script>

    <!-- 游누 OPTIONAL: Fullscreen polyfill is needed to fully support AR features -->
    <script src="https://unpkg.com/fullscreen-polyfill@1.0.2/dist/fullscreen.polyfill.js"></script>

    <!-- 游누 OPTIONAL: Include prismatic.js for Magic Leap support -->
    <script src="https://unpkg.com/@magicleap/prismatic/prismatic.min.js"></script>

    <!-- 游누 OPTIONAL: The :focus-visible polyfill removes the focus ring for some input types -->
    <script src="https://unpkg.com/focus-visible@5.0.2/dist/focus-visible.js" defer></script>
  </head>

  <body>


  <div id="card">
    <!-- All you need to put beautiful, interactive 3D content on your site: -->
    <model-viewer src="<%= Image.last.avatar_url %>"
                  ios-src="<%= Image.last.avatar_url %>"
                  alt="A 3D model of an astronaut"
                  shadow-intensity="1"
                  camera-controls
                  interaction-prompt="auto"
                  auto-rotate ar magic-leap>
    </model-viewer>
    <section class="attribution">
      <span>
        <h1>Astronaut</h1>
        <span>By <a href="https://poly.google.com/view/dLHpzNdygsg" target="_blank">Poly</a></span>
      </span>
      <a class="cc" href="https://creativecommons.org/licenses/by/2.0/" target="_blank">
        <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg">
        <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg">
      </a>
    </section>

  </div>

    <%= yield %>
  </body>

    <footer>
    <span>This page is a basic demo of the <a href="https://github.com/GoogleWebComponents/model-viewer" target="_blank">&lt;model-viewer&gt;</a> web component.</span>
    <span>It makes displaying 3D and AR content on the web easy 九껊잺</span>
    <a href="https://glitch.com/edit/#!/remix/model-viewer">
      <img src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fremix%402x.png?1513093958726" alt="remix button" aria-label="remix" height="33">
    </a>
  </footer>

<script type="module"
      src="https://unpkg.com/@google/model-viewer@v0.9.0/dist/model-viewer.js">
  </script>

  <!-- Loads <model-viewer> for old browsers like IE11: -->
  <script nomodule
      src="https://unpkg.com/@google/model-viewer@v0.9.0/dist/model-viewer-legacy.js">
  </script>
  <script type="text/javascript">
    $( document ).ready(function() {
      alert();
    });
  </script>
</html>



